.header {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  background-color: $bright-turquoise;
  &__content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    min-height: 100px;
    width: 40%;
    text-align: center;
    color: $off-white;
    h2{
      padding-bottom: 0;
    }
    p {
      font-size: 1.1rem;
    }
  }

  &--home {
    height: 60vh;
  }
}