.page {
  max-width: 100%;

  &__post-content {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;

    &__post {
      display: block;
      flex: 1 1 20%;
      max-width: 25%;
      margin: 0 1rem 1rem;
      background-color: $off-white;

      &__image-wrapper {
        img {
          display: inline-block;
          width: 100%;
          height: auto;
        }
      }

      &__content {
        padding: 1rem;
        color: $slate-grey;
        .category {
          color: $cyan;
          font-size: 1.1rem;
          font-weight: 500;
        }
        h3{
          padding: 0.5rem 0 0;
          font-size: 1.3rem;
          color: $bright-turquoise;
        }

        &__bottom {
          margin-top: 2rem;
          display: flex;

          span:last-child{
            margin-left: auto;
          }
        }
      }
    }
  }
}