.page {
  max-width: 100%;

  &__post-content {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;

    &__post {
      display: block;
      flex: 1 1 100%;
      margin-bottom: 2rem;
      background-color: $off-white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, .16);

      @media screen and (min-width: $tablet){
        flex: 1 1 40%;
        max-width: 50%;
        margin: 0 1rem 2rem;
        max-width: calc(100% * (1/2) - 32px);
      }
      
      @media screen and (min-width: $desktop){
        flex: 1 0 20%;
        //max-width: 20%;
        max-width: calc(100% * (1/4) - 32px);
      }
      
      &__image-wrapper {
        img {
          display: inline-block;
          width: 100%;
          height: auto;
        }
      }

      & > a{
        display: block;
        color: $slate-grey;
        text-decoration: none;
      }
      
      &__content {
        padding: 1rem;
        color: $slate-grey;
        .category {
          color: $cyan;
          font-size: 1.1rem;
          font-weight: 500;
        }
        
        h3{
          padding: 0.5rem 0 0;
          font-size: 1.3rem;
          color: $bright-turquoise;
        }

        &__bottom {
          margin-top: 2rem;
          display: flex;

          span:last-child{
            margin-left: auto;
          }
        }
      }
    }
  }
}