* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #FCFCFC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 1rem 0;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
}

h1,
h2 {
  font-size: 48px;
}

header {
  width: 100%;
}

p {
  margin: 0.5rem 0;
}

main {
  padding: 3rem 0;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  main {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  main {
    width: 75%;
  }
}

#app {
  margin-top: 76px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background-color: #15BFB1;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100px;
  text-align: center;
  color: #EFEFEF;
}

@media screen and (min-width: 768px) {
  .header__content {
    width: 80%;
    height: 30vh;
  }
}

@media screen and (min-width: 1024px) {
  .header__content {
    width: 40%;
    height: 40vh;
  }
}

.header__content h2 {
  padding-bottom: 0;
}

.header__content p {
  font-size: 1.1rem;
}

.header--home {
  height: 60vh;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #FCFCFC;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16);
  z-index: 20;
}

.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .nav__inner {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .nav__inner {
    width: 75%;
  }
}

.nav__inner ul:last-child {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__inner ul:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav ul li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #11998E;
  font-weight: 500;
  font-size: 1.2rem;
}

.nav .nav__items--logo {
  margin-right: auto;
}

.nav .nav__items--logo li a {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 2.1rem;
}

.nav__menu-icon {
  font-size: 1.5rem;
  color: #11998E;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav__menu-icon {
    display: none;
  }
}

.nav__accordion {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .nav__accordion {
    display: none;
  }
}

.nav__accordion ul {
  display: block;
  padding-bottom: 1rem;
}

.nav__accordion ul li {
  display: block;
  border-top: 1px solid #11998E;
}

.nav__accordion--open {
  display: block;
}

@media screen and (min-width: 768px) {
  .nav__accordion--open {
    display: none;
  }
}

.nav__accordion--close {
  display: none;
}

footer {
  padding: 1rem 0;
  background-color: #FCFCFC;
  border-top: 5px solid #00C9B6;
}

footer ul {
  display: inline-block;
  padding: 0;
  list-style-type: none;
}

footer ul li {
  display: inline-block;
  position: relative;
}

footer ul li:not(:last-child) {
  padding-right: 1rem;
  margin-right: 0.5rem;
}

footer ul li:not(:last-child):after {
  content: "";
  display: inline-block;
  background-color: #11998E;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
}

footer ul li a {
  display: block;
  color: #11998E;
  font-size: 1rem;
  text-decoration: none;
}

.footer__inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer__inner-wrapper {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .footer__inner-wrapper {
    width: 75%;
  }
}

.footer__right-content {
  display: inline-block;
  margin-left: auto;
  color: #11998E;
}

.footer__right-content span {
  display: block;
  line-height: 3rem;
}

.page {
  max-width: 100%;
}

.page__post-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page__post-content__post {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-bottom: 2rem;
  background-color: #EFEFEF;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .page__post-content__post {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
    max-width: 50%;
    margin: 0 1rem 2rem;
    max-width: calc(100% * (1/2) - 32px);
  }
}

@media screen and (min-width: 1024px) {
  .page__post-content__post {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 20%;
            flex: 1 0 20%;
    max-width: calc(100% * (1/4) - 32px);
  }
}

.page__post-content__post__image-wrapper img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.page__post-content__post > a {
  display: block;
  color: #333333;
  text-decoration: none;
}

.page__post-content__post__content {
  padding: 1rem;
  color: #333333;
}

.page__post-content__post__content .category {
  color: #0086BB;
  font-size: 1.1rem;
  font-weight: 500;
}

.page__post-content__post__content h3 {
  padding: 0.5rem 0 0;
  font-size: 1.3rem;
  color: #15BFB1;
}

.page__post-content__post__content__bottom {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__post-content__post__content__bottom span:last-child {
  margin-left: auto;
}

.pagination {
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.pagination li {
  display: inline-block;
}

.pagination li a {
  text-decoration: none;
}

.pagination .page-item .page-link {
  display: block;
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  color: #333333;
  cursor: pointer;
}

.pagination .page-item .page-link:hover {
  background-color: #EFEFEF;
  text-decoration: underline;
}

.pagination .disabled {
  display: none;
}

.pagination .active .page-link {
  color: #11998E;
}

.news {
  margin: 0 auto;
  background-color: #EFEFEF;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .news {
    width: 95%;
  }
}

@media screen and (min-width: 1024px) {
  .news {
    width: 80%;
  }
}

.news__title {
  padding: 0.5rem 1rem;
  color: #333333;
}

@media screen and (min-width: 768px) {
  .news__title {
    padding: 1rem 2rem;
  }
}

.news__header-image {
  display: block;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
}

.news__header-image img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.news__breadcrumb,
.news__content {
  padding: 1rem 2rem;
}

.news__breadcrumb {
  color: #333333;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.1rem;
}

.news__breadcrumb a {
  text-decoration: none;
  color: #11998E;
  font-weight: bold;
}

.news__breadcrumb p {
  font-family: "Roboto Slab", sans-serif;
}

.news__content {
  padding-top: 0;
  color: #333333;
}

.news__content h1:first-child,
.news__content h2:first-child,
.news__content h3:first-child,
.news__content h4:first-child,
.news__content h5:first-child,
.news__content h6:first-child {
  padding-top: 0;
}

.news__content h2 {
  color: #FFA17A;
}

.news__content h3,
.news__content h4,
.news__content h5,
.news__content h6 {
  color: #7C5DAC;
}

.guide__header,
.guide__wrapper {
  width: 100%;
  margin: 0 auto;
}

.guide__header {
  position: relative;
  width: 90%;
  overflow: hidden;
  padding-top: 56.25%;
  margin-top: 7rem;
  height: 0;
}

.guide__header img {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.guide__wrapper h2 {
  padding-top: 0;
  color: #333333;
  font-size: 36px;
}

.guide__wrapper section {
  margin-bottom: 2rem;
}

.guide__wrapper section h3 {
  color: #00C9B6;
  font-size: 24px;
}

.guide__wrapper section.guide__overview {
  padding: 1.5rem;
  background-color: #EFEFEF;
}

.guide__wrapper section.guide__overview p,
.guide__wrapper section.guide__overview li {
  font-family: "Lato", sans-serif !important;
  margin: 0.5rem auto !important;
}

.guide__wrapper section.guide__overview ol {
  margin-top: 0;
}

.guide__wrapper section.guide__overview li {
  margin-bottom: 0.5rem !important;
}

.guide__tutorials__list {
  list-style: none;
  padding: 0;
}

.guide__tutorials__list__item {
  display: block;
  background-color: #EFEFEF;
  margin-bottom: 2rem;
}

.guide__tutorials__list__item img {
  display: block;
  width: 100%;
  height: auto;
}

.guide__tutorials__list__item h3 {
  padding: 0;
}

.guide__tutorials__list__item em {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #333333;
}

@media screen and (min-width: 768px) {
  .guide__tutorials__list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .guide__tutorials__list__item img {
    max-width: 300px;
    width: 300px;
  }
}

.guide__tutorials__list__item__content {
  padding: 1rem;
}

.guide__tutorials__list__item__content a {
  color: #0086BB;
}

@media screen and (min-width: 768px) {
  .guide__tutorials__list__item__content {
    padding: 1.5rem;
  }
}

