* {
  box-sizing: border-box;
  font-family: $default-font;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: $white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 1rem 0;
  font-family: $header-font;
  font-weight: 700;
}
h1, h2 {
  font-size: 48px;
}

header {
  width: 100%;
}

p {
  margin: 0.5rem 0;
}

main {
  padding: 3rem 0;
  width: 90%;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    width: 80%;
  }

  @media screen and (min-width: $desktop) {
    width: 75%;
  }
}

#app {
  margin-top: 76px; // TODO: Adjust with JS
}