
// Body
$body-bg: #f5f8fa;

// Typography
$default-font: 'Lato', sans-serif;
$header-font: 'Roboto Slab', sans-serif;

$white:  #FCFCFC;
$off-white: #EFEFEF;
$lime-green: #2DC265;
$bright-turquoise: #15BFB1;
$turquoise: #00C9B6;
$dark-turquoise: #11998E; 
$cyan: #0086BB;
$slate-grey: #333333;
$purple: #7C5DAC;
$orange: #FFA17A;

// Voyager Colors
$v-orange: #F2A654;
$v-blue: #62A8EA;

$desktop: 1024px;
$tablet: 768px;
$small: 599px;